@model myfirstmvc.ViewModels.User.UserPaginationViewModel
@{
    ViewData["Title"] = "首頁";
}

<div class="text-center">
    <a class="btn btn-success" asp-action="UserAdd">新增使用者</a>
</div>

<br>

<div>
    <form asp-action="Index" method="GET" id="fmQuery">
        <div class="form-group">
            <input type="text" class="form-control" id="searchInput">
            <button type="button" class="btn btn-success" id="btnSearch">查詢</button>
        </div>
        <div>
            <input type="hidden" name="searchString" id="hiddenInput" value="@ViewBag.searchString">
            <span class="badge badge-info" >@ViewBag.searchString</span>
        </div>
        

        <table class="table">
            <thead>
                <tr>
                    <th>使用者</th>
                    <th class="w-25">更新</th>
                    <th class="w-25">刪除</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.users.Any())
                {
                    foreach (var item in Model.users)
                    {
                        <tr>
                            <td><a asp-action="UserDetail" asp-route-id="@item.Id">@item.UserName</a></td>
                            <td><a class="btn btn-primary" asp-action="UserUpdate" asp-route-id="@item.Id">更新</a></td>
                            <td><a class="btn btn-danger" asp-action="UserDetail" asp-route-id="@item.Id">刪除</a></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">目前無使用者資料</td>
                    </tr>
                }
            </tbody>
        </table>
        @await Html.PartialAsync("~/Views/Shared/_pagination.cshtml", @Model.pagination)
    </form>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#btnSearch').on('click', function(){
                $('#hiddenInput').val($('#searchInput').val());
                $('#searchInput').val('');
                $('#fmQuery').submit();
            })
        });
    </script>
}